<!DOCTYPE html>
<html>
<head>
    <%
    const title = 'hi'
    if( title ) { %>
    <title><%= title %></title>
    <% } %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
