<%- include( 'header' ) %>
    <h1>Has Chiptole emailed me?</h1>
    <h6>Let find out</h6>
    <p>Sign in through Gmail:</p>
    <form id="sign-in-to-gmail">
        <input class="email" type="text" placeholder="Email">
        <input class="password" type="text" placeholder="Password">
        <button>Connect</button>
    </form>
<%- include( 'footer' ) %>
